﻿@model EmailViewModel
@using Microsoft.Extensions.Primitives;


@{
	ViewData["Title"] = "Details";
}
<div class="container-fluid">
	<div>
		<div style="background-color:lavender;"><strong>From: </strong> @Model.Sender</div>
		<div style="background-color:orange;"><strong>Subject: </strong> @Model.Subject</div>
		<div style="background-color:lavender;"><strong>Date:</strong> @Model.Date</div>
		<div style="background-color:lavender;">
			<strong>Body:</strong>
		</div>
		<div class="content-wrapper"><textarea readonly style="background-color:lavender;">@Model.Body</textarea></div>
		@{
			if (Model.Attachments.Count > 0)
			{

				<div style="background-color:lavender;">
					Attachments:@foreach (var attachment in Model.Attachments)
					{<p>@attachment.FileName @attachment.SizeInMb Mb</p>}
				</div>
			}
		}
	</div>
</div>

@if (Model.Status.Replace(" ", "").ToLower() == EmailStatusesEnum.InvalidApplication.ToString().ToLower())
{
	<form id="change-status-form" class="col-lg-8" asp-controller="Email" asp-action="Details" asp-route-body="@Model.Body">
		<div class="form-group">
			<button type="submit" class="btn btn-success">Change Status</button>
			@{ var referrer = this.Context.Request.Headers["Referer"]; }
			@if (referrer != default(StringValues))
			{
				<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
			}
		</div>
	</form>
}

@if (Model.Status.Replace(" ", "").ToLower() == EmailStatusesEnum.NotReviewed.ToString().ToLower())
{
	<form id="change-status-form" class="col-lg-8" asp-controller="Email" asp-action="Details" asp-route-body="@Model.Body">
		<div class="form-group">
			<div class="form-group">
				@Html.DropDownListFor(r => r.Status, (IEnumerable<SelectListItem>)ViewBag.StatusNotReviewed)
			</div>
			<button type="submit" class="btn btn-success">Change Status</button>
			@{ var referrer = this.Context.Request.Headers["Referer"]; }
			@if (referrer != default(StringValues))
			{
				<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
			}
		</div>
	</form>
}

@if (Model.Status.Replace(" ", "").ToLower() == EmailStatusesEnum.New.ToString().ToLower())
{
	<form id="change-status-form" class="col-lg-8" asp-controller="Email" asp-action="NewToOpen" asp-route-body="@Model.Body" asp-route-id="@Model.Id">

		@if (User.IsInRole("Operator"))
		{
			<div class="form-group">
				@Html.DropDownListFor(r => r.Status, (IEnumerable<SelectListItem>)ViewBag.OperatorStatusNew)
			</div>
		}
		else
		{
			<div class="form-group">
				@Html.DropDownListFor(r => r.Status, (IEnumerable<SelectListItem>)ViewBag.ManagerStatusNew)
			</div>
		}

		<div class="form-group">
			<label asp-for="@Model.EGN"></label>
			<input asp-for="@Model.EGN" class="form-control" />
			<span asp-validation-for="@Model.EGN" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="@Model.PhoneNumber"></label>
			<input asp-for="@Model.PhoneNumber" class="form-control" />
			<span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success">Change Status</button>
			@{ var referrer = this.Context.Request.Headers["Referer"]; }
			@if (referrer != default(StringValues))
			{
				<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
			}
		</div>
	</form>
}

@if (Model.Status.Replace(" ", "").ToLower() == EmailStatusesEnum.Open.ToString().ToLower())
{
	<form id="change-status-form" class="col-lg-8" asp-controller="Email" asp-action="OpenToClose" asp-route-body="@Model.Body" asp-route-id="@Model.Id" asp-route-app="@Model.AppStatus">
		<div class="form-group">
			@Html.DropDownListFor(r => r.AppStatus, (IEnumerable<SelectListItem>)ViewBag.Statuses)
		</div>
		@if (!(User.IsInRole("Operator")))
		{
			<div class="form-group">
				@Html.DropDownListFor(r => r.Status, (IEnumerable<SelectListItem>)ViewBag.ManagerStatusOpen)
			</div>
		}
		<div class="form-group">
			<button type="submit" class="btn btn-success">Change Status</button>
			@{ var referrer = this.Context.Request.Headers["Referer"]; }
			@if (referrer != default(StringValues))
			{
				<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
			}
		</div>
	</form>
}

@if (Model.Status.Replace(" ", "").ToLower() == EmailStatusesEnum.Closed.ToString().ToLower())
{
	if (!(User.IsInRole("Operator")))
	{
		<form id="change-status-form" class="col-lg-8" asp-controller="Email" asp-action="Details" asp-route-body="@Model.Body" asp-route-id="@Model.Id">
			<div class="form-group">
				@Html.DropDownListFor(r => r.Status, (IEnumerable<SelectListItem>)ViewBag.ManagerStatusClosed)
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Change Status</button>
				@{ var referrer = this.Context.Request.Headers["Referer"]; }
				@if (referrer != default(StringValues))
				{
					<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
				}
			</div>
		</form>
	}
					else
					{
		<div class="form-group">
			@{ var referrer = this.Context.Request.Headers["Referer"]; }
			@if (referrer != default(StringValues))
			{
				<a href="@referrer.ToString()" class="btn btn-default">Go Back</a>
			}
		</div>
					}
				}
	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

	<script>
		$(() => {
			$('#Status').change(function () {
				$('#AppStatus').toggle($(this).val() !== 'New')
			})
		})

		$(() => {
			$('#Status').change(function () {
				$('#EGN').toggle($(this).val() !== 'Not Reviewed')
			})
		})

		$(() => {
			$('#Status').change(function () {
				$('#PhoneNumber').toggle($(this).val() !== 'Not Reviewed')
			})
		})
	</script>

	<style>
		.content-wrapper textarea {
			width: 100%;
			height: calc(100vh - 320px);
			resize: none;
		}
	</style>


