﻿
@model HomeViewModel

<div class="table-responsive">
    <table id="listingemails" style="display: none">
        <thead>
            <tr>
                <th>DB ID</th>
                <th>Date Received</th>
                <th>Sender</th>
                <th>Subject</th>
                <th>Status</th>
                <th>Since in current status</th>
                @if (Model.Emails.Count > 0)
                {
                    @if (!(User.IsInRole("Operator")) && Model.Emails.FirstOrDefault().Status == EmailStatusesEnum.Open.ToString())
                    {
                        <th>Opened by</th>
                    }
                    @if (!(User.IsInRole("Operator")) && Model.Emails.FirstOrDefault().Status == EmailStatusesEnum.Closed.ToString())
                    {
                        <th>Closed by</th>
                        <th>App final Status</th>
                    }
                }
                <th>details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var email in Model.Emails)
            {
                <tr>
                    <td>@email.Id</td>
                    <td>@email.Date</td>
                    <td>@email.Sender</td>
                    @if (email.AttachmentCount > 0)
                    {
                        <td>@email.Subject <i class="material-icons">attachment</i></td>
                    }
                    else
                    {
                        <td>@email.Subject</td>}

                    <td> @email.Status</td>
                    <td>
                        @String.Format("{0} days, {1} hours, {2} minutes, {3} seconds",
    (DateTime.Now - email.SinceCurrentStatus).Days, (DateTime.Now - email.SinceCurrentStatus).Hours, (DateTime.Now - email.SinceCurrentStatus).Minutes, (DateTime.Now - email.SinceCurrentStatus).Seconds);
                    </td>
                    @if ((!User.IsInRole("Operator")) && (email.Status == EmailStatusesEnum.Open.ToString()))
                    {
                        if (email.UserName == null)
                        {
                            <td>"User does not exist"</td>
                        }
                        else
                        {
                            <td> @email.UserName</td>
                        }
                    }
                    @if ((!User.IsInRole("Operator")) && (email.Status == EmailStatusesEnum.Closed.ToString()))
                    {
                        if (email.UserName == null)
                        {
                            <td>"Not closed"</td>
                        }
                        else
                        {
                            <td> @email.UserName</td>
                        }
                        @if (email.AppStatus == ApplicationStatuseEnum.Approved.ToString())
                        {
                            <td class="success"> @email.AppStatus</td>
                        }
                        else
                        {
                            <td class="danger"> @email.AppStatus</td>
                        }
                    }
                    <td>
                        <a asp-controller="Email" asp-action="Details" asp-route-id="@email.Id" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View</a>
                        @{
                            if (email.AttachmentCount > 0)
                            {
                                <span>📎</span>
                            }
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(function () {
        $('#listingemails')
            .show()
            .kendoGrid({
                height: 550,
                groupable: true,
                sortable: true,
                filterable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    pageSize: 10,
                    buttonCount: 5
                }
            });
    })
</script>

