@using Microsoft.AspNetCore.Identity
@using EmailApplicationsManager.Web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a href="#">Users</a>
                    <ul>
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register Users</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeRole">Change Role</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUserPassword">Change Password</a></li>
                        <li><a asp-area="" asp-controller="Log" asp-action="Index">Activity</a></li>
                    </ul>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}

