﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* menu */

.navbar-nav > li > ul li {
    display: none;
    position: relative;
}

.navbar-nav > li:hover > ul li {
    display: block;
}

.navbar-nav > li:hover > ul {
    position: absolute;
    left: 0;
    padding: 15px;
    background: #222222;
    min-width: 140px;
}

/*footer*/
footer p {
    text-align: center;
}