﻿@model ChangeRoleViewModel
@{
    ViewData["Title"] = "ChangeRole";
}

<h2>ChangeRole</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(r => r.RoleId, (IEnumerable<SelectListItem>)ViewBag.Roles, "Select a role", null)
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

