﻿@{
    ViewData["Title"] = "Emails";
}

<div class="flex-content">
    <div class="main-titles">
        <h1>Welcome</h1>
        <p></p>
    </div>
    <div class="wrapp-items">
		<div class="flex-item">
			@if (User.Identity.IsAuthenticated)
			{<a asp-controller="Email" asp-action="FindNotReviewedEmails" role="button" aria-pressed="true"><div class="flex-icon red">@ViewBag.emailsCounter.NotReviewedCount()</div></a> }
			else {<div class="flex-icon red">@ViewBag.emailsCounter.NotReviewedCount()</div> }
			<div class="flex-text">Not Reviewed</div>
		</div>
		<div class="flex-item">
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Email" asp-action="FindNewEmails" role="button" aria-pressed="true"><div class="flex-icon light-blue">@ViewBag.emailsCounter.NewCount()</div></a>
			}
			else { <div class="flex-icon light-blue">@ViewBag.emailsCounter.NewCount()</div>}
			<div class="flex-text">New</div>
		</div>
		<div class="flex-item">
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Email" asp-action="FindOpenEmails" role="button" aria-pressed="true"><div class="flex-icon orange">@ViewBag.emailsCounter.OpenCount()</div></a>
			}
			else { <div class="flex-icon orange">@ViewBag.emailsCounter.OpenCount()</div>}
			<div class="flex-text">Open</div>
		</div>
		<div class="flex-item">
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-controller="Email" asp-action="FindClosedEmails" role="button" aria-pressed="true"><div class="flex-icon green">@ViewBag.emailsCounter.ClosedCount()</div></a>}
			else { <div class="flex-icon green">@ViewBag.emailsCounter.ClosedCount()</div>}
			<div class="flex-text">Closed</div>
		</div>
        <div class="flex-item">
            <div class="flex-icon purple">@ViewBag.emailsCounter.ApprovedCount()</div>
            <div class="flex-text">Approved</div>
        </div>
        <div class="flex-item">
            <div class="flex-icon blue">@ViewBag.emailsCounter.RejectedCount()</div>
            <div class="flex-text">Rejected</div>
        </div>
    </div>
</div>

<style>

    .flex-content {
        height: calc(100vh - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-titles {
        margin-bottom: 50px;
    }

        .main-titles h1,
        .main-titles p {
            text-align: center;
        }

    .wrapp-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex-item {
        margin: 0 10px;
    }

    .flex-icon {
        cursor: pointer;
        width: 100px;
        height: 120px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 35px;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    }

    .red {
        background: #ae051c;
    }

    .light-blue {
        background: #37b4e2;
    }

    .orange {
        background: #f97b02;
    }

    .green {
        background: #a7c33a;
    }

    .purple {
        background: #7e74a8;
    }

    .blue {
        background: #0c6faa;
    }

    .flex-text {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
    }
</style>